<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
<h1>Edit Comment</h1>

<%= render 'form' %>

<%= link_to 'Show', @evaluation %> |
<% is_admin %>
  <%= link_to 'All Comments', evaluations_path %>
<% else %>
  <%= link_to 'My Comments', evaluations_path %>
<% end %>
</div>
