<div id="fullwindow">
<% if is_admin %>
  <h1>All Comments</h1>
<% else %>
  <h1>Your Comments</h1>
<% end %>


<table>
  <thead>
    <tr>
      <% if is_admin %>
        <th><%= sortable "user" %></th>
      <% end %>
      <th><%= sortable "project" %></th>
      <th>Comment</th>
      <th><%= sortable "rating" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
    <tr>
      <% if is_admin %>
        <td><%= link_to evaluation.user.full_name, user_path(evaluation.user) %></td>
      <% end %>
      <td><%= link_to evaluation.project.title, project_path(evaluation.project) %></td>
      <td><%= evaluation.comment %></td>
      <td><%= evaluation.rating %></td>
      <td><%= link_to 'Show', evaluation %></td>
      <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
      <td><%= link_to 'Delete', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
