<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h3>Comment</h3>
<p>
  <strong>User:</strong>
  <%= @evaluation.user.full_name %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @evaluation.project.title, project_path(@evaluation.project) %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @evaluation.comment %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @evaluation.rating %>
</p>


<%= render 'footerlinks' %>
