<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>User:</strong>
  <%= @evaluation.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @evaluation.project_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @evaluation.comment %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @evaluation.rating %>
</p>


<%= render 'footerlinks' %>
