<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
<h1>Editing <%= @user.full_name %></h1>

<%= render 'form' %>

<%= link_to 'Profile', @user %>
<% if is_admin %>
| <%= link_to 'All Users', users_path %>
<% end %>

</div>
