<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to "Title", :sort => "title" %></th>
      <th>Abstract</th>
      <th><%= link_to "Course", :sort => "course" %></th>
      <th><%= link_to "Comments", :sort => "comments" %></th>
      <th><%= link_to "Average Rating", :sort => "average_rating" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.title, project %></td>
      <td><%= project.abstract %></td>
      <td><%= link_to project.course.section, project.course %></td>
      <td><%= project.evaluations.count %></td>
      <td><%= project.average_rating %></td>
      <td>
        <% if is_admin %>
          <%= link_to 'Remove', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
