<div id="fullwindow">
<h1>Project Listings</h1>
  <% if notice %>
    <div id="notice"><%= notice %></div>
  <% end %>

<table>
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th>Abstract</th>
      <th><%= sortable "course" %></th>
      <th><%= sortable "comments" %></th>
      <th><%= sortable "average_rating" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.title, project %></td>
      <td><%= project.abstract %></td>
      <td><%= link_to project.course.section, project.course %></td>
      <td><%= project.evaluations.count %></td>
      <td><%= project.average_rating %></td>
      <td>
        <% if is_admin %>
          <%= link_to 'Remove', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
</div>
