<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
  <% if notice %>
    <div id="notice"><%= notice %></div>
  <% end %>
  
  <h1><%= @project.title %></h1>
  
  <div>
    <%= @project.abstract %>
  </div>

  <div>
  </div>


  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>

</div>
