<div id="leftcolumn" class="span-7">
<%= render 'shared/menu' %>
</div>

<div id="maincontent" class="span-15 push-2">
  <% if notice %>
    <div id="notice"><%= notice %></div>
  <% end %>
  
  <h1><%= @project.title %></h1>
  <h2>by <%= @project.authors_list %></h2>

  <div class="commentsbar">
    <strong>Comments</strong>: <%= @project.evaluations.count %>&nbsp;&nbsp;<strong>Average Rating</strong>: <%= @project.average_rating %>
  </div>
  
  <div>
    <%= @project.abstract %>
  </div>


  <div class="linkspanel">
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %> |
    <%= link_to 'Comment', new_evaluation_path %>
  <div>

</div>
