<%= form_for(@project_participant) do |f| %>
  <% if @project_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_participant.errors.count, "error") %> prohibited this project_participant from being saved:</h2>

      <ul>
      <% @project_participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
