<%= form_for(@project_participant) do |f| %>
  <% if @project_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_participant.errors.count, "error") %> prohibited this project_participant from being saved:</h2>

      <ul>
      <% @project_participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project %><br />
    <%= f.select :project, options_for_select(Project.all.map{|pj| [pj.title, pj.id]}, @project_participant.project_id) %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.select :user, options_for_select(User.all.map{|us| [us.full_name, us.id]}, @project_participant.user_id), :selected => params[:user_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
