<div id="leftcolumn" class="span-7">
  <%= render 'shared/menu' %>
</div>
<div id="maincontent" class="span-15 span-2">
<h1>Project Participant</h1>

<p>
  <strong>Project:</strong>
  <%= link_to @project_participant.project.title, project_path(@project_participant) %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @project_participant.user.full_name, user_path(@project_participant) %>
</p>


<%= link_to 'Edit', edit_project_participant_path(@project_participant) %> |
<%= link_to 'Project Participants', project_participants_path %>
</div>
