<!DOCTYPE html>
<html>
<head>
  <title>Classprojects</title>
  <%= stylesheet_link_tag    "application-all", media: "all" %>
  <%# stylesheet_link_tag    "application", media: "all" %>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "application-ie", :media => "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div id="headerinner">
      <div id="logo">
        <img src="/assets/logo.png"/>
      </div>
      <h1 class="maintitle">School of Computing Term Project Showcase</h1>
      <h2 class="subtitle">SR1/SR1 Foyer (COM1 Level 2) / 20 November 2012 (Tuesday) 18:00-22:00</h2>
    </div>
  </div>
  
  <div class="container">
    <div id="loginheader" class="span-24">
      <div id="logintaskbar" class="span-8 push-16">
        <% if current_user %>
          Logged in as <%= current_user.full_name %>.
          <%= link_to "Log out", session_path("current"), method: "delete" %>
        <% else %>
          <%= link_to "Sign up", new_user_path %> or 
          <%= link_to "Log in", new_session_path %>
        <% end %>
        <% if is_admin %>
          <%= "You have administrator privileges" %>
        <% else %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>

</body>
</html>
